header ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#balance{
    color: rgb(82, 194, 82);
}

#defence{
    color: rgb(66, 112, 172);
}

#attack{
    color: rgb(209, 61, 61);
}
.shadow {
    background-image: url(bg.png);
    box-shadow: 0 0 1px rgba(0,0,0,0.5); /* Параметры тени */
   
   }
